<?xml version = "1.0"?>

<!-- Definerer robotens navn, samt tilatelse for bruk av xacro-makroer -->
<robot name="qube" xmlns:xacro = "https://wwww.ros.org/wiki/xacro">

	<!-- Inkluderer eksterne xacro-makroer for bygging av roboten (kuben) -->
	<xacro:include filename="$(find qube_description)/urdf/qube.macro.xacro" />

	<!-- Definerer referansesystem for hele verden -->
	<link name = "world"/>

	<!-- Setter inn selve roboten ved å anvende den definerte xacro-makroen -->
	<xacro:qube/>

	<!-- Lager et fast(fixed) ledd mellom "world" og basen til kuben -->
	<joint name = "worldJoint" type = "fixed">
		<!-- Overordnet  ledd -->
		<parent link = "world"/>

		<!-- Underordnet ledd, stammer fra xacro:qube -->
		<child link = "baseLink"/>

		<!-- Posisjon for leddet, ingen forskyvning -->
		<origin xyz = "0 0 0"/>
	</joint>
</robot>
