<?xml version = "1.0"?>

<!-- Define robot name and informs compiler that this is a xacro file -->
<robot name="qube" xmlns:xacro = "https://wwww.ros.org/wiki/xacro">

	<!-- Include macro file -->
	<xacro:include filename="$(find qube_description)/urdf/qube.macro.xacro" />

	<!-- Declare a world link -->
	<link name = "world"/>

	<!-- Run qube macro from previously included macro file -->
	<xacro:qube/>

	<!-- Making a world joint, connecting the qube base to the world link -->
	<joint name = "worldJoint" type = "fixed">
		<!-- Declaring world as parent -->
		<parent link = "world"/>

		<!-- Declaring baseLink as child, baseLink stemming from xacro:qube -->
		<child link = "baseLink"/>

		<!-- Ensure origin is at 0 -->
		<origin xyz = "0 0 0"/>
	</joint>
</robot>
