<?xml version = "1.0"?>
<robot name="qube" xmlns:xacro = "https://www.ros.org/wiki/xacro">

    <!-- Argumenter -->
	<xacro:arg name = "baud_rate" default = "115200"/>
	<xacro:arg name = "device" default = "/dev/ttyACM0"/>
    <xacro:arg name = "simulation" default = "true"/>

    <!-- Inkluder beskrivelse av qube -->
    <xacro:include filename = "$(find qube_description)/urdf/qube.macro.xacro"/>
    <xacro:include filename = "$(find qube_driver)/ros2_control/qube_driver.ros2_control.xacro"/>

    <!-- Kaller qube-makro -->
    <xacro:qube/>

    <!-- Kaller driver-makro -->
    <xacro:qube_driver_ros2_control
        name = "qube_driver"
        prefix = ""
        baud_rate = "$(arg baud_rate)"
        device = "$(arg device)"
        simulation = "$(arg simulation)"/>

	<link name = "world"/>

    <!-- World link -->
    <joint name = "base_to_world" type = "fixed">
        <parent link = "world"/>
        <child link = "baseLink"/>
    </joint>
</robot>
